.fullPage article {
    border-color: rgba(158,235,207,0.5);
    box-shadow: 0 0 0px 2px rgba(158,235,207,0.2);
}

.fullPage {
    display: flex;
    align-items: center;
    color: rgb(158, 235, 207);
    padding-top: 8vh;
}

.sign-up-button {
    font-weight: 1000;
    text-decoration: none;
    border: 1px solid rgba(158,235,207,0.5);
    border-radius: 50px;
}

::-webkit-input-placeholder {
    font-size: 15px;
    font-weight: 700;
}

.sign-in-btn {
    padding: 0.7rem;
    border: 1px solid rgba(158,235,207,0.5);
}

.pre-logo {
    font-family: 'UNITED BRK';
    margin: 0px;
    color: #9EEBCF;
}

 
.auto-fill:-webkit-autofill,
.auto-fill:-webkit-autofill:hover, 
.auto-fill:-webkit-autofill:focus, 
.auto-fill:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px black inset !important;
    box-shadow: 0 0 0 30px black inset;
}

input:-webkit-autofill {  
    -webkit-text-fill-color: white;
}
input:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
}

div:focus {
    outline: none;
}

a {
    text-decoration: none;
}

.icon-div {
    display: flex;
    justify-content: flex-end;
    margin-top: -30px;
}

.icon {
    color: #9EEBCF;
}

.w-50-m {
    width: 35%
}

@media screen and (min-width: 64.1em) and (max-width: 75em) {
    .w-50-m {
        width: 45%;
    }
}
@media screen and (min-width: 45em) and (max-width: 64.1em) {
    .w-50-m {
        width: 55%;
    }
}
@media screen and (min-width: 30em) and (max-width: 45em) {
    .w-50-m {
        width: 65%;
    }
}


@media screen and (max-width: 30em) {
    .w-rr {
        width: 85%;
    }
}

