/* .contact {
    min-height: 80vh;
    line-height: 1.6;
} */

.footer {
    background: #ccc;
    padding-bottom: 2vh;
    padding-top: 2vh;
    display: flex;
    line-height: 1.6;
}

.copyright {
    display: flex;
    align-items: flex-end;
}

.platforms {
    text-align: end;
}

.platforms-e {
    border-right: solid 1px rgba(0,0,0,0.5);
}

.designed {
    padding-bottom: 1.6rem;
}

.git-link {
    padding-right: 0.9rem;
}

.envelope {
    margin-left: auto;
}

.empty {
    height: 50%;
}

.envelope-e {
    height: 50%;
}




@media screen and (max-width: 45.5em) {
    .footer {
        display: block;
    }
    .platforms-e {
        border-right: none;
        border-bottom: 1px solid rgba(0,0,0,0.5);
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .w-50 {
        width: 97%;
    }
    .platforms {
        text-align: center;
    }
    .justify-end {
        justify-content: center;
    }
    .git-link {
        padding: 0;
    }
    .empty {
        display: none;
    }
    .envelope-e {
        height: 100%;
        justify-content: center;
    }
    .envelope {
        margin-left: 0;
    }
    .designed {
        padding: 1rem 0 0.5rem 0;
    }
    .platforms-e + .pl2 .instructions {
        justify-content: center;
    }
    .copyright {
        justify-content: center;
    }
    .footer .pr3 {
        padding-right: 0px;
    }
    .email-m {
        font-size: 130%;
        padding-top: 2px;
    }
}