@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


* {
  font-family: 'Raleway';
}

.game {
  padding: 0 4vw 15vh 4vw;
  color:  white;
  min-height: 70vh;
  line-height: 1.6;
  background: url(IZAD8346.JPEG) no-repeat center center;
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 100%);
}

.lim {
  padding-top: 35vh;
}

.preliminary {
  min-height: 100vh;
  background-color:black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}


.App {
  font-weight: 200;
}



@media screen and (min-width: 35em) and (max-width: 60em) {
  .game {
    clip-path: polygon(0% 0%, 100% 9%, 100% 91%, 0% 100%);
  }
  .lim {
    padding-top: 38vh;
  }
}

@media screen and (max-width: 45.5em) {
  .game {
    padding: 0 4vw 12vh 4vw;
    clip-path: polygon(0% 0%, 100% 7%, 100% 93%, 0% 100%);
  }
  .lim {
    padding-top: 40vh;
  }
}

@media screen and (max-width: 36.7em) {
  .game {
    padding: 0 4vw 7vh 4vw;
    clip-path: polygon(0% 0%, 100% 5%, 100% 95%, 0% 100%);
  }
  .lim {
    padding-top: 42vh;
  }
}